#view-cart {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#view-cart:hover {
    background-color: #45a049; 
}